$white-color: #ffffff !default;
$black-color-top: #282828;
$black-color-bottom: #111;

$font-size-base: 14px !default;
$font-size-small: 12px !default;
$font-size-medium: 16px !default;
$font-size-large: 18px !default;
$font-size-large-navbar: 20px !default;

$font-size-h1: 52px !default;
$font-size-h2: 36px !default;
$font-size-h3: 28px !default;
$font-size-h4: 22px !default;
$font-size-h5: 18px !default;
$font-size-h6: 14px !default;
$font-paragraph: 16px !default;
$font-size-navbar: 16px !default;
$font-size-small: 12px !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semi: 500 !default;
$font-weight-bold: 600 !default;

$border-radius-small: 3px !default;
$border-radius-base: 4px !default;
$border-radius-large: 6px !default;
$border-radius-extreme: 10px !default;

$border-radius-large-top: $border-radius-large $border-radius-large 0 0 !default;
$border-radius-large-bottom: 0 0 $border-radius-large $border-radius-large !default;

$padding-default-vertical: 10px !default;
$padding-default-horizontal: 15px !default;

.full-page {
  width: 100%;
  height: 100%
  //   &:after,
  //   &:before {
  //     display: block;
  //     content: "";
  //     position: absolute;
  //     width: 100%;
  //     height: 100%;
  //     top: 0;
  //     left: 0;
  //     z-index: 2;
  //   }
  
  //   &:before {
  //     opacity: 0.33;
  //     background: #000000;
  //   }
  
  //   &:after {
  //   //   linear-gradient($black-color-top, rgba($black-color-bottom, 0.4));
  //     z-index: 3;
  //     opacity: 1;
  //   }
  
  //   > .content,
  //   > .footer {
  //     position: relative;
  //     z-index: 4;
  //   }
  
  //   > .content {
  //     min-height: calc(100vh - 70px);
  //   }
  
  //   .full-page-background {
  //     position: absolute;
  //     z-index: 1;
  //     height: 100%;
  //     width: 100%;
  //     display: block;
  //     top: 0;
  //     left: 0;
  //     background-size: cover;
  //     background-position: center center;
  //   }
  
  //   &[data-image]:after,
  //   &.has-image:after {
  //     opacity: 0;
  //   }
  
  //   // &[data-color="blue"]:after {
  //   //   @include line-gradient($color-blue, rgba($blue-color-bottom, 0.6));
  //   // }
  //   // &[data-color="azure"]:after {
  //   //   @include line-gradient($color-azure, rgba($azure-color-bottom, 0.6));
  //   // }
  //   // &[data-color="green"]:after {
  //   //   @include line-gradient($color-green, rgba($green-color-bottom, 0.6));
  //   // }
  //   // &[data-color="orange"]:after {
  //   //   @include line-gradient($color-orange, rgba($orange-color-bottom, 0.6));
  //   // }
  //   // &[data-color="red"]:after {
  //   //   @include line-gradient($color-red, rgba($red-color-bottom, 0.6));
  //   // }
  //   // &[data-color="purple"]:after {
  //   //   @include line-gradient($color-purple, rgba($purple-color-bottom, 0.6));
  //   // }
  
  //   .footer nav > ul a:not(.btn),
  //   .footer,
  //   .footer .copyright a {
  //     color: $white-color;
  //     font-size: $font-size-base;
  //   }
  //   .footer .copyright {
  //     color: rgba(255, 255, 255, 0.5);
  //   }
  // }
  
  // .login,
  // .lock-page {
  //   > .content {
  //     padding-top: 10vh;
  //   }
  // }
  
  // .login {
  //   .card {
  //     box-shadow: 0 25px 30px -13px rgba(40, 40, 40, 0.4);
  //     border-radius: $border-radius-base;
  //     padding-top: $padding-default-horizontal * 2;
  //     padding-bottom: $padding-default-horizontal * 2;
  //     background: #F9F9F9;
  
  //   //   @include transform-translate-y(0);
  //   //   @extend .animation-transition-general;
  
  //   //   &.card-hidden {
  //   //     opacity: 0;
  //   //     @include transform-translate-y(-60px);
  //   //   }
  
  //     //&.title {
  //     //  font-size: $font-size-large;
  //     //}
  
  //     .header {
  //       padding-bottom: $padding-default-horizontal * 2;
  //     }
  
  //     .btn-wd {
  //       min-width: 200px;
  //     }
  //   }
  }